
<div class="row">
    <h4><%= cardSet %></h4>
    <% info[cardSet].forEach(function(item) { %>
        <div class="infoSet callout">
            <div class="row">
                <div class="large-12 medium-12 columns">
                    <h2><%= item.name %></h2>
                </div>
            </div>

            <div class="row">
                <div class="large-6 medium-6 columns">
                    <img src=<%= item.img %> >
                </div>

                <div class="large-6 medium-6 columns">
                    <ul>
                        <li>Name:           <%= item.name %></li>
                        <li>Type:           <%= item.type %></li>
                        <li>Player Class:   <%= item.playerClass %></li>
                        <li>Race:           <%= item.race %></li>
                        <li>Cost:           <%= item.cost %></li>
                        <li>Health:         <%= item.health %></li>
                        <li>Attack:         <%= item.attack %></li>
                        <li>Flavor:         <%= item.flavor %></li>
                        <li>Card Set:       <%= item.cardSet %></li>
                        <li>How To Get Gold:<%= item.howToGetGold %></li>
                        <li>Rarity:         <%= item.rarity %></li>
                    </ul>
                </div>
            </div>
        </div>
    <% }); %>
</div>