<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">H-Stone</li>
<!--
            <li><a href="/">Home</a></li>
            <li><a href="/find">Find</a></li>
            <li><a href="/about">About</a></li>
-->
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><button type="button" class="button" ng-click="searchCard()">Searching</button></li>
            <li><button type="button" class="button" ng-click="deckBuild()">Deck Build</button></li>
            <li><button id="modalLauncher" class="button">Testing modal</button></li>
        </ul>
    </div>
</div>


<div class="top-bar accordion" data-accordion data-allow-all-closed="true">
    
    <div class="accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title">Search Accordion</a>
        
        <div class="accordion-content" data-tab-content>
        
        <form>
            <div class="row">

                <div class="small-6 columns">
                    <label>Card Name</label>
                    <input type="text" class="form-control input-lg text-center" placeholder="Search" ng-model="formData.text">
                </div>

                <div class="small-6 columns">
                    <label>Card Set</label>
                        <select ng-model="formData.cardClass">
                            <option value="Basic">Basic</option>
                            <option value="Classic">Classic</option>
                            <option value="Naxxramas">Naxxramas</option>
                        </select>
                </div>
            </div>

            <div class="row">
                <div class="medium-3 columns">
                    <label>Player Class
                        <select>
                            <option value="Neutral">Neutral</option>
                            <option value="Druid">Druid</option>
                            <option value="Hunter">Hunter</option>
                            <option value="Mage">Mage</option>
                            <option value="Paladin">Paladin</option>
                            <option value="Priest">Priest</option>
                            <option value="Rogue">Rogue</option>                        
                            <option value="Shaman">Shaman</option>
                            <option value="Warlock">Warlock</option>
                            <option value="Warrior">Warrior</option>
                        </select>
                    </label>
                </div>
                <div class="medium-2 columns">
                    <label>Attack
                        <select>
                            <% for(var i=0; i < 10; i++) { %>
                                <option value=<%= i %>><%= i %></option>    
                            <% } %>
                        </select>
                    </label>
                </div>
                <div class="medium-2 columns">
                    <label>Health
                        <select>
                            <% for(var i=0; i < 10; i++) { %>
                                <option value=<%= i %>><%= i %></option>    
                            <% } %>
                        </select>
                    </label>
                </div>            
                <div class="medium-2 columns">
                    <label>Cost
                        <select>
                            <% for(var i=0; i < 10; i++) { %>
                                <option value=<%= i %>><%= i %></option>    
                            <% } %>
                        </select>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="medium-12 columns">
                    <button type="submit" class="button expanded" ng-click="findCard()">Search</button>
                </div>
            </div>
        </form>
            
        </div>
    </div>
</div>

<!-- MODAL WINDOW -->
<div class="reveal" id="myModal" data-reveal>
    <h2>Select Search Type</h2>

    <div class="expanded button-group">
        <a class="button">Name</a>
        <a class="button">Class</a>
        <a class="button">Type</a>
        <a class="button">Set</a>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
    </button>
</div>


<!--
        <form>
            <ul class="menu">
                <li><input type="text" class="form-control input-lg text-center" placeholder="Search" ng-model="formData.text"></li>
                <li>
                    <label>
                        <select ng-model="formData.searchType" >Search Method
                            <option value="Name">Name</option>
                            <option value="Class">Class</option>
                            <option value="Type">Type</option>
                            <option value="Set">Set</option>
                        </select>
                    </label>
                </li>
                
              <li><button type="submit" class="button" ng-click="findCard()">Search</button></li>
            </ul>
        </form>
-->
