<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">H-Stone</li>
<!--
            <li><a href="/">Home</a></li>
            <li><a href="/find">Find</a></li>
            <li><a href="/about">About</a></li>
-->
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><button type="button" id="modalLauncher" class="button">Searching</button></li>
            <li><button type="button" id="accordionLauncher" class="button">Deck</button></li>
            
<!--
            <li><button type="button" class="button" ng-click="searchCard()">Searching</button></li>
            <li><button type="button" class="button" ng-click="deckBuild()">DeckBuild</button></li>
-->
        </ul>
    </div>
</div>


<div class="top-bar accordion" id="myAccordion" data-accordion data-allow-all-closed="true">
    
    <div class="accordion-item" id="myItem" data-accordion-item>        
        <div class="accordion-content" id="item1" data-tab-content>
        
        <form>
            <div class="row">
                <div class="medium-4 columns">
                    <div class="input-group">
                        <span class="input-group-label">Name</span>
                        <input type="text" class="form-control input-group-field text-center" placeholder="Search" ng-model="formData.text">
                    </div>
                </div>

                <div class="medium-4 columns">
                    <div class="input-group">
                        <span class="input-group-label">Set</span>
                        <select class="input-group-field" ng-model="formData.cardClass">
                            <option value="Basic">Basic</option>
                            <option value="Classic">Classic</option>
                            <option value="Naxxramas">Naxxramas</option>
                        </select>
                    </div>                    
                </div>
                
                <div class="medium-4 columns">
                    <button type="submit" class="button expanded" ng-click="findCard()">Search</button>
                </div>
            </div>
            
<!--            <div class="row">-->
                <div class="medium-6 columns">
                <div class="medium-6 columns">
                    <label>Player Class
                        <select>
                            <option value="">none</option>
                            <option value="Neutral">Neutral</option>
                            <option value="Druid">Druid</option>
                            <option value="Hunter">Hunter</option>
                            <option value="Mage">Mage</option>
                            <option value="Paladin">Paladin</option>
                            <option value="Priest">Priest</option>
                            <option value="Rogue">Rogue</option>                        
                            <option value="Shaman">Shaman</option>
                            <option value="Warlock">Warlock</option>
                            <option value="Warrior">Warrior</option>
                        </select>
                    </label>
                </div>
                <div class="medium-6 columns">
                    <label>Card Type</label>
                    <select ng-model="formData.cardType">
                        <option value="">none</option>
                        <option value="Minion">Minion</option>
                        <option value="Spell">Spell</option>
                        <option value="Weapon">Weapon</option>
                    </select>
                </div>
                </div>
                
                <div class="medium-6 columns">
                <div class="medium-4 columns">
                    <label>Attack
                        <select ng-model="formData.cardAttack">
                            <option value="">none</option>
                            <% for(var i=0; i < 10; i++) { %>
                                <option value=<%= i %>><%= i %></option>    
                            <% } %>
                        </select>
                    </label>
                </div>
                <div class="medium-4 columns">
                    <label>Health
                        <select ng-model="formData.cardHealth">
                            <option value="">none</option>
                            <% for(var i=0; i < 10; i++) { %>
                                <option value=<%= i %>><%= i %></option>    
                            <% } %>
                        </select>
                    </label>
                </div>            
                <div class="medium-4 columns">
                    <label>Cost
                        <select ng-model="formData.cardCost">
                            <option value="">none</option>
                            <% for(var i=0; i < 10; i++) { %>
                                <option value=<%= i %>><%= i %></option>
                            <% } %>
                        </select>
                    </label>
                </div>
<!--                </div>-->
                
            </div>

            <div class="row">
                <div class="medium-12 columns">
                    <button type="submit" class="button expanded" ng-click="findCard()">Search</button>
                </div>
            </div>
        </form>
            
        </div>
    </div>
</div>

<!-- MODAL WINDOW -->
<div class="reveal" id="myModal" data-reveal>
    <h2>Select Search Type</h2>

    <div class="expanded button-group">
        <button type="button" class="button" ng-click="setSearchType('Name')">Name</button>
        <button type="button" class="button" ng-click="setSearchType('Class')">Class</button>
        <button type="button" class="button" ng-click="setSearchType('Type')">Type</button>
        <button type="button" class="button" ng-click="setSearchType('Set')">Set</button>
        <button type="button" class="button" ng-click="formData.test='fire'">Fire</button>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
    </button>
</div>


<!--
        <form>
            <ul class="menu">
                <li><input type="text" class="form-control input-lg text-center" placeholder="Search" ng-model="formData.text"></li>
                <li>
                    <label>
                        <select ng-model="formData.searchType" >Search Method
                            <option value="Name">Name</option>
                            <option value="Class">Class</option>
                            <option value="Type">Type</option>
                            <option value="Set">Set</option>
                        </select>
                    </label>
                </li>
                
              <li><button type="submit" class="button" ng-click="findCard()">Search</button></li>
            </ul>
        </form>
-->
