<!-- Nav Bar -->
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">H-Stone</li>
            <li><a href="/">Home</a></li>
            
            <!--
            <li><a href="/find">Find</a></li>
            <li><a href="/test">Test</a></li>
            -->
            
            <li><a href='#!/search'>Search</a></li>
            <li><a href='#!/buildme'>Current</a></li>
            <li><a href='#!/decks'>Decks</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><button type="button" id="modalLauncher" class="button">Card Search</button></li>
            <li><button type="button" id="deckBuilderLauncher" class="button">Deck Build</button></li>
            
            
        </ul>
    </div>
</div>

<!--Search Form-->
<div class="top-bar accordion" id="myAccordion" data-accordion data-allow-all-closed="true">
    
    <div class="accordion-item" id="myItem" data-accordion-item>        
        <div class="accordion-content callout" id="item1" data-tab-content>
            
        <button type="button" id="accordionLauncher" class="close-button float-right" type="button">
            <span class="show-for-sr">Close</span>
            <span aria-hidden="true">&times;</span>
        </button>
            
        <form>
            <div class="row">
                <div class="medium-9 columns" id="cardNameForm">
                    <label>Name
                        <input type="text" placeholder="Search" ng-model="formData.text">
                    </label>
                </div>

                <div class="medium-3 columns" id="cardSetForm">
                    <label>Card Set
                        <select ng-model="formData.cardSet" ng-options="item as item for item in nameOfSets">
                            <option value="">Select Set</option>
                        </select>
                    </label>           
                </div>

                <div class="medium-3 columns" id="playerClassForm">
                    <label>Player Class
                        <select ng-model="formData.cardClass" ng-options="item as item for item in nameOfClasses">
                            <option value="">Select Class</option>
                        </select>
                    </label>
                </div>

                <div class="medium-3 columns" id="cardTypeForm">
                    <label>Card Type</label>
                    <select ng-model="formData.cardType" ng-options="item as item for item in nameOfTypes">
                        <option value="">Select Type</option>
                    </select>
                </div>
                
<!--Parameters-->
                <div class="medium-6 columns" id="attackHealthCostForm">
                    <div class="medium-4 columns">
                        <label>Attack
                            <select ng-model="formData.cardAttack">
                                <option value="">none</option>
                                <% for(var i=0; i < 10; i++) { %>
                                    <option value=<%= i %>><%= i %></option>    
                                <% } %>
                            </select>
                        </label>
                    </div>
                    <div class="medium-4 columns">
                        <label>Health
                            <select ng-model="formData.cardHealth">
                                <option value="">none</option>
                                <% for(var i=0; i < 10; i++) { %>
                                    <option value=<%= i %>><%= i %></option>    
                                <% } %>
                            </select>
                        </label>
                    </div>            
                    <div class="medium-4 columns">
                        <label>Cost
                            <select ng-model="formData.cardCost">
                                <option value="">none</option>
                                <% for(var i=0; i < 10; i++) { %>
                                    <option value=<%= i %>><%= i %></option>
                                <% } %>
                            </select>
                        </label>
                    </div>
                </div>
                    
                <div class="medium-3 columns">
                    <label>Search</label>
                    <button type="submit" class="button expanded" ng-click="findCard()">Search</button>
                </div>                
            </div>
        </form>            
        </div>
    </div>
</div>