<!DOCTYPE HTML>
<html class="no-js">
    <head>
        <% include partials/header.ejs %>
    </head>

    <body>
        <% include partials/nav.ejs %>
        
        <div class="row">
            <div class="large-12 columns">
                <h1>Card Show Page</h1>
            </div>
        </div>
        
    <form>
        <div class="row">
            <div class="large-12 columns">
                <div class="row collapse">

                    <div class="small-6 columns">
                    <div class="input-group">
                        <input class="input-group-field" type="text" placeholder="Card Name">

                        <div class="input-group-button">
                            <input type="submit" class="button" value="Submit">
                        </div>
                    </div>
                    </div>

                    <div class="small-6 columns">
                        <input type="text" placeholder=".small-6.columns">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="medium-3 columns">
                <label>Player Class
                    <select>
                        <option value="Neutral">Neutral</option>
                        <option value="Druid">Druid</option>
                        <option value="Hunter">Hunter</option>
                        <option value="Mage">Mage</option>
                        <option value="Paladin">Paladin</option>
                        <option value="Priest">Priest</option>
                        <option value="Rogue">Rogue</option>                        
                        <option value="Shaman">Shaman</option>
                        <option value="Warlock">Warlock</option>
                        <option value="Warrior">Warrior</option>
                    </select>
                </label>
            </div>
            <div class="medium-3 columns">
                <label>Attack
                    <select>
                        <% for(var i=0; i < 10; i++) { %>
                            <option value=<%= i %>><%= i %></option>    
                        <% } %>
                    </select>
                </label>
            </div>
            <div class="medium-3 columns">
                <label>Health
                    <select>
                        <% for(var i=0; i < 10; i++) { %>
                            <option value=<%= i %>><%= i %></option>    
                        <% } %>
                    </select>
                </label>
            </div>            
            <div class="medium-3 columns">
                <label>Cost
                    <select>
                        <% for(var i=0; i < 10; i++) { %>
                            <option value=<%= i %>><%= i %></option>    
                        <% } %>
                    </select>
                </label>
            </div>
        </div>
        
        <div class="row">
            <p><a type="submit" class="button expanded">Log In</a></p>
        </div>
    </form>
        
        <%- include("partials/card.ejs",{cardSet:"Basic"}) %>
        
<!--        <%- include("partials/card.ejs",{cardSet:"Classic"}) %>-->
<!--        <%- include("partials/card.ejs",{cardSet:"Naxxramas"}) %>-->
        
<!--        <%= JSON.stringify(info) %>-->
        
    </body>
</html>